*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #191919;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}


header{
    width: 100%;
    height: 100px;
    font-size: 16px;
    position: fixed;
    z-index: 1;
    height: 100px;
    transition: all 0.4s ease-out;
    z-index: 2
}
.max-header{
    background-color: #000;
    height: 100px;
   
}
.min-header{
    background-color: #191919;
    height: 80px;
}
.container-h{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-areas: 'log ... nav';
    grid-template-columns: auto 1fr auto;
    align-content: center;
}
.logo{
    grid-area: log;
}
.logo img{
    transition: all 0.4s ease-out;
}

.max-logo img{
    width: 90px;
}
.min-logo img{
    width: 100px;
}
.nav-bar{
    grid-area: nav;
    display: grid;
    align-content: center;
}
.nav-bar ul{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}
.nav-bar a {
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}
.max-nav a{
    font-size: 1em;
    color: #99d836;
}
.min-nav a{
    font-size: 0.875em;
    color: #fff;
}
.home{
    padding: 200px 0  0;
    background-color: #000;
    height: 100vh;
}
.robson {
    margin: auto;
    background: linear-gradient(#000000, #99d836, #191919);
    border-radius: 100px;
    display: block;
    width: 210px;
    height: 210px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.foto-robson{
    position: relative;
    border-radius: 50%;
    top: -203px;
}



.logo-grande{
    width: 100%;
}
 .page-section h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    letter-spacing: 0;
    margin-bottom: 50px;
 }
 .page-section p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    font-size: 18px;
    color: #fff;

 }
 .sobre{
     padding: 50px 0 ;
     margin-top: 40px;
 }
.card{
    background-color: black;
    float: left;
    text-align: center;
    padding: 75px 40px;
}
.card:hover{
    background-color:#99d836;
}
.card h5{
    color: white;
}
.card p{
    color:#959595 ;
}
.card i{
    font-size: 80px;
    padding: 20px 0;
    color: white;
}


/* comentario */

 nav ul li {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    color: #8c8c8c;
    margin: 15px 45px 15px 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    list-style: none;
 }
 nav ul li a{
    
    color: #8c8c8c;
   
 }
 .cards {
     float: left;
 }
 .cards .card-body a{
     display: block;
    
  
 }
 
   
 
 .cards .card-body a:hover:before {
    content  : "+";
    position : absolute;
    left     : 45%;
    top      : 30%;
    font-size: 80px;
    color    : #fff;
}
 

 .cards .card-body img{
     width: 100%;
     z-index: 1;
     position: relative;
     filter: grayscale(1);
    
     
 }
 #mvv {
    width: 100%;
    float: left;
    height: 500px;
    background-image: url('../img/fundo-image.jpg');
    padding: 60px 0 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 #tecnologias div img {
     margin-left: auto;
     margin-right: auto;
 }
 .contato {
    background: url('../img/fundo-grafico.jpg') #111111 top no-repeat;
    background-size: 100% auto;
    
    padding-top: 100px;
    color: #fff;
 }
 .formulario {
    width: 800px;
    margin: auto;
    color: #fff;
    text-align: left;
 }
 .field {
    border: none;
    padding: 10px;
    width: 100%;
    outline: none;
    width: 100%;
    background: #fff;
    color: #333;
    border-radius: 30px;
    margin-bottom: 20px;
 
 }
 textarea .field{
    background: #fff;
    color: #333;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
 }
 button {
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    display: inline-block;
    transition: 0.5s ease-out;
    color: #fff;
    background:#99d836;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.sociais{
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sociais ul li{
    padding:  0 30px;
}
.sociais ul li a i{
    font-size:30px;
}
/*teste de icones*/

.teste{
    margin: 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#121212;
}
.sm a{
    display: inline-block;
    font-size: 30px;
   width: 50px;
   height: 50px;
   text-align:center;
   color: #99d836;
   margin: 0 10px;
   transition: .4s linear;
   position: relative;
}
.sm a::before, .sm a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}
.sm a:hover{
    transform: scale(.8);
}
.sm a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}
.sm a:hover::after{
    border-top:4px solid;
    border-bottom:4px solid;
    transform: skewY(-20deg);
}




/*teste de icones*/
 @media(max-width: 768px){
    .max-header{
        
        height: 80px;
       
    }
    .min-header{
        
        height: 60px;
    }
    .container-h{
        position: relative;
        padding: 0 60px;
        grid-template-areas: "log ... mnu";
    }
    .max-logo img{
        width: 115px;
    }
    .min-logo img{
        width: 90px;
    }
    .nav-bar{
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #000;
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }
    .max-nav{
        top:80px;
        height: calc(100vh - 80px);
    }
    .min-nav{
        top:60px;
        height: calc(100vh - 60px);
    }
    .menu-opened{
        transform: translateX(0);
    }
    .nav-bar ul{
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }
    .nav-bar li{
        text-align: center;
    }
    .menu{
        grid-area: mnu;
        display: grid;
        align-content: center;
    }
    .hamburguer{
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out;
        background-color: #99d836;
    }
    
    .hamburguer::before{
        position: absolute;
        top: -8px;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
        background-color:#99d836;

    }
    .hamburguer::after{
        position: absolute;
        top: 8px;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
        background-color: #99d836;

    }
    .max-hamburguer,.max-hamburguer::before, .max-hamburguer::after{
        background-color: #99d836;
    }
    .min-hamburguer,.min-hamburguer::before, .min-hamburguer::after{
        background-color: #ffff;
    }

    .min-nav a{
        font-size: 0.875em;
        color: #99d836;
    }
    .close-btn{
        width: 32px;
        transform: rotateZ(45deg);
    }

    .close-btn::before , .close-btn::after{
        top: 0;
        transform: rotateZ(90deg);
    }
}

