*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #191919;
}
h1,h2,h3,h4,h5 {
    font-family: 'Fjalla One', sans-serif !important;
    color: #08708a;
}

header .menu li{
    padding: 5px 20px;
}
 .menu li a {
    color:#08708a !important;
}

/*sobre */
.sobre{
    font-family: 'Fjalla One', sans-serif;
    color:#fff;

}
  .cont{
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    background-image: url('../img/nossa-gente-background-algar.jpg');
    
 }




/* slick*/
.slick-prev,.slick-next{
    background-color: black;
}
.slick-prev {
    background-color: black !important;
}
 .slick-arrow {
    background-color: black !important;
 }

 /* contato*/
 
 